/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: left;
}

table {
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    padding: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-action-buttons {
    text-align: center;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.list {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

.list th, .list td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.list th {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.validation-error {
    color: red;
}

.hide {
    display: none;
}

.edit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button {
    background-color: #FF0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
